<div class="depot_form">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
	<% end %>

	<%= form_for(:session, url: sessions_path) do |f| %>
		<fieldset>
			<legend>Please Log In</legend>

			<div>
        		<%= f.label :name %>
        		<%= f.text_field :name %>
        	</div>

        	<div>
        		<%= f.label :password %>
        		<%= f.password_field :password %>
        	</div>

        	<%= f.submit "Sign in" %>

		</fieldset>	
     <% end %>
	

</div>